<div class="home-height">
  <div class="row home-top">
    <div class="home-contain col-md-offset-4 col-md-4 text-center">
      <img src="images/ng_lg.png" class="center-block" width="20%" height="20%"/>
    </div>
  </div>
  <div class="row black-bg home-bottom">
    <div class="col-md-4 col-md-offset-4 home-interactive">
      <p class="interactive">
        Hello there! My name is Nic.
      </p>
      <p class="interactive">
        Thanks for stopping by &amp; visiting.
      </p>
      <p class="interactive">
        Let's get acquainted. What's your name?
        <!-- <span class="blinking">|</span> -->
      </p>
      <div id="home-input"  style="visibility:hidden;">
        <input type="test" class="custom-input" autofocus>
      </div>
    </div>
  </div>
</div>
